body {
	background: #a0e0e9;
	font-family: Arial;
}
.encabezado1{
	/*background-color: #085893;*/
	background-color: #085893;
	/*background-color: #085893;*/
	padding: 0.1px;
	margin: 20px 0px;
	width: 1150px;
	color: #ffffff;
	/*-webkit-box-shadow: 8px 8px 1px 0px #909090;*/
}
.encabezado2{
	/*background-color: #002999; 01*/
	background-color: #085893;
	margin: 20px 5px;
	padding: 0.1px;
	width: 180px;
	color: #ffffff;
}
.boton{
	background-color: #085893;
	border: none;
	color: #ffffff;
	padding: 12px 25px;
	font-size: 17px;
	cursor: pointer;
	/*border-radius: 5px;*/
}
#resultado{
	display: none;
}
#categ1{
	display: none;
}
#categ2{
	display: none;
}
#contenedor0{
	width: 1150px;
	height: 765px;
	margin: 0px auto;
	/*border:	1px solid black;*/
	background: white;
}
#contenedor1{
	width: 800px;
	margin: 0px auto;
	/*border:	1px solid black;*/
	background: white;
}
#contenedor2{
	width: 300px;
	margin: 0px auto;
	/*border:	1px solid black;*/
	background: #a0e0e9;
}
#contenedor3{
	width: 1150px;

	margin: 0px auto;
	/*border:	1px solid black;*/
	background: white;
}
#parrafoResultado{
	width: 900px;
	margin: 0px auto;
}


/* burbujas */

.burbuja{
    border-radius: 50%;
    /*background: #95E0E6;*/
    background-color: #03C1E6;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 8s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(100px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
    from {top: 1550px;}
    to {top: -40px;}
}

/* @keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
} */